<section>

    <ng-container *ngFor="let specialization of specializations">
        <div>
            <h3>{{specialization.name}}</h3>    

            <button (click)="getAvailableSubjectsForSpecialization(specialization.id)">Find subjects</button>
        </div>   

    </ng-container>

    <div *ngIf="source != null">
        <h3>Subjects</h3>
        <app-subjects-table [source]="source"
                            [showTecahers]="false"
                            [displayedColumns]="displayedData" 
                            [showAddSubjectButton]="true"
                            (getSubjects)="addSubjectsToArray($event)"
                            (sendFilter)="filter($event)"
                            ></app-subjects-table>
    
        <button (click)="addSubjectsToSpecialization()">Add</button>
    </div>
    
</section>