<section>
    <div>
        <div *ngFor="let request of requests">
            <h2>Date: {{request.lesson.dateStart | date: 'dd-MM-yyyy'}}</h2>
            <div>
                <h3>Lesson</h3>
                <h3>Date start: {{request.lesson.dateStart | date: 'HH:mm'}}</h3>
                <h3>Date end: {{request.lesson.dateEnd | date: 'HH:mm'}}</h3>
            </div>
            <h3>{{request.message}}</h3>
            <div class="statuses">
                <div class="status" [class.status__actual]="request.decision == requestStatus[requestStatus.REJECTED]">
                    <span>Previous status</span>
                    {{request.previousStatus}}
                </div>
                <div class="arrow">
                    <img src="../../assets/images/icons/arrow.svg" alt="">
                </div>
                <div class="status" [class.status__actual]="'PENDING' && request.decision == null">
                    PENDING
                </div>
                <div class="arrow">
                    <img src="../../assets/images/icons/arrow.svg" alt="">
                </div>
                <div class="status"  [class.status__actual]="request.decision == requestStatus[requestStatus.ACCEPTED]">
                    <span>Exptected status</span>
                    {{request.actualStatus}}
                </div>
                <div class="arrow">
                    <img src="../../assets/images/icons/arrow.svg" alt="">
                </div>
                <div>
                    <div class="decision">
                        <button class="status decision__button decision__button_ok" (click)="setStatus(requestStatus[requestStatus.ACCEPTED], request)" [class.accepted]="request.decision === 'ACCEPTED'" [disabled]="request.decision != null">
                            ACCEPT
                        </button>
                        <button class="status decision__button decision__button_reject" (click)="setStatus(requestStatus[requestStatus.REJECTED], request) && request.decision == null" [class.rejected]="request.decision === 'REJECTED'" [disabled]="request.decision != null">
                            REJECT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>