$bg-color: #eeeeee;
.statuses{
    display: flex;
    gap: 1em;
    align-items: center;
    height: 85px;
    .arrow__buttons{
        display: flex;
        align-items: center;
    }
    .status{
        padding: 1em;
        border-radius: 4px;
        background: rgb(0 0 0 / 12%);
        position: relative;
        min-width: 7em;
        text-align: center;
        span{
            position: absolute;
            top: -20px;
            width: 100%;
            left: 0;
        }
    }
    .status__actual{
        background: #a8dab5;
    }
    .arrow{
        width: 15px;
    }
    .decision{
        display: grid;
        gap: 1em;
        .decision__button{
            cursor: pointer;
            outline: none;
            background: rgb(0 0 0 / 7%);
            transition: .5s;
            border: 1px solid rgb(0 0 0 / 18%);
        }
        .decision__button_reject{
            &:hover{
                background: #f96666;
            }
            &:disabled{
                &:hover{
                background: rgb(0 0 0 / 7%);
                }
            }
        }
        .decision__button_ok{
            &:hover{
                background: #a8dab5;
            }
            &:disabled{
                &:hover{
                background: rgb(0 0 0 / 7%);
                }
            }
        }
        .accepted{
            &:disabled{
                background: #a8dab5;
                color: black;

                &:hover{
                    background: #a8dab5;

                }
            }
        }
        .rejected{
            &:disabled{
                background: #f96666;
                color: black;

                &:hover{
                    background: #f96666;

                }
            }
        }
    }
}

.arrow_with_buttons{
    margin-right: 20px;
}










.col {
    padding: 1rem;
    
}

.card {
    display: block;
    text-align: center;
    color: $bg-color;
    
    .content {
        padding: 4rem 1rem;
        background-color: #e1d2ca !important;            
        border-radius: 5px;
    }
    
    .title {
        font-size: 1.25rem;
        background-color: green;
        border-radius: 3px;
        padding: 0.5rem;
        &:after {
            background-color: #ab7e68  !important;
        }
    }

    &:before,
    &:after {
        border-radius: 5px;
    }
    
    &:before {
        background-color: #c6a899!important;
    }

}   
$animation-timing: 0.3s;
$animation-ease: ease-in-out;
$animation-ease-bounce: cubic-bezier(0.175,  0.885, 0.320, 1.275);
[class*='stacked--'] {
    position: relative;
    transition: transform $animation-timing $animation-ease;
    will-change: transform;
    
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        transition: transform $animation-timing $animation-ease;
        will-change: transform;
    }
    
    &:before {
        z-index: -1;
    }
    
    &:after {
        z-index: -2;
    }
}

.stacked--up-right {
    &:hover {
        transform: translate(5px, -5px);
        
        &:before { transform: translate(-5px, 5px); }
        &:after { transform: translate(-10px, 10px); }
    }
}