<mat-accordion>

    <ng-container *ngFor="let specialization of specializations">
        <h1>Specialization: {{specialization.name}}</h1>


        <ng-container *ngFor="let semester of specialization.semesters">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Semester: {{semester.semesterNumber}}
                </mat-panel-title>
                <mat-panel-description>
                    Show Subjects for {{semester.semesterNumber}} semester
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <div *ngFor="let subject of semester.subjects">
                        <h3>{{subject.name}}</h3>
                        <em>{{subject.type}}</em>
                    </div>
                </div>
            </mat-expansion-panel>
        </ng-container>

    </ng-container>
  </mat-accordion>