<section>
  <div class="container">
    <div class="semester">
      <app-group-semesters [group]="group" (semesterSelected)="getSemesterSelected($event)"></app-group-semesters>
    </div>
    <div class="subjects">
      <ng-container *ngFor="let subject of group?.subjects">
        <app-subject-card [subject]="subject.subject" (selectedSubject)="selectSubject($event)"></app-subject-card>
      </ng-container>
    </div>

    <div class="operations" *ngIf="subject !=null">
      <div class="operation" (click)="showStudents()" [class.active]="isShowStudents">
        <img class="icon__large icon" src="../../assets/images/icons/students.svg" alt="">
        <h3 class="operation__text">Students</h3>
      </div>
      <div class="operation" (click)="showFiles = !showFiles" [class.active]="showFiles">
        <img class="icon__large icon" src="../../assets/images/icons/files.svg" alt="">
        <h3 class="operation__text">Files</h3>
      </div>
      <div class="operation" (click)="findGradesForChart()" [class.active]="showChart">
        <img class="icon__large icon" src="../../assets/images/icons/pie-chart.svg" alt="">
        <h3 class="operation__text">Chart</h3>
      </div>
    </div>


    <ng-container *ngIf="showFiles">
      <div class="files__section" *ngIf="showFiles">
        <div class="upload__files">
          <h3>Upload files</h3>
          <input type="file" (change)="selectFiles($event)" multiple>
          <button (click)="upload()">Upload</button>
        </div>
        <div class="my__files" *ngIf="subjectFiles != null && subjectFiles.length != 0">
          <h2>My Files</h2>
          <div class="files">
            <app-document class="documents" [files]="subjectFiles"></app-document>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="students" *ngIf="isShowStudents">
      <ng-container *ngIf="loaded; else loading">
      <table>
        <thead>
          <tr>
            <th>Nr.al</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade</th>
          </tr>
        </thead>
          <tbody>
            <ng-container *ngFor="let grade of studentGrades">
              <tr>
                <td>{{grade.student.numberIdentifier}}</td>
                <td>{{grade.student.firstName}}</td>
                <td>{{grade.student.lastName}}</td>
                <td>
                  <ng-container *ngIf="grade.grade == 0">
                    <mat-form-field appearance="fill">
                      <mat-label>Grade</mat-label>
                      <mat-select #value (selectionChange)="changeGrade(value.value, grade.id)">
                        <ng-container *ngFor="let grade of grades">
                          <mat-option [value]="grade">{{grade}}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>
                  <ng-container *ngIf="grade.grade != 0">
                    <h3>{{grade.grade}}</h3>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </tbody>
      </table>
    </ng-container>

      <button (click)="setGrade()">Ok</button>
      <app-pagination [totalPages]="totalPages" (findDataOnPage)="findStudentGrades($event)"></app-pagination>
    </div>
    <app-pie-chart class="chart" *ngIf="gradesForChart && gradesNotZero && showChart" [studentGrades]="gradesForChart"></app-pie-chart>


  </div>
  <ng-template #loading>
    <app-loading [height]="442"></app-loading>
  </ng-template>
</section>
