.notification__box{
    position: absolute;
    height: 100vh;
    top: 0;
    background: #fff;
    width: 100%;
    left: 0;

    .notification__scroll{
        height: 99%;
        overflow-y: scroll;
    
    .notification{
        padding: 1em;
        background: beige;
        margin-bottom: .5em;
        margin-top: .5em;
    }
}
}