<section>
    <div>
        <div>
            <a routerLink="create-student">Create student</a>
        </div>
        <div>
            <a routerLink="create-teacher">Create teacher</a>
        </div>
        <div>
            <a routerLink="create-subject">Create Subject</a>
         </div>
         <div>
            <a routerLink="create-group">Create Group</a>
         </div>
         <div>
            <a routerLink="specialization-panel">Specialization panel</a>
         </div>
         <div>
             <a routerLink="group-panel">Group panel</a>
         </div>
         <div>
            <a routerLink="subject-panel">Subject panel</a>
        </div>
        <div>
            <a routerLink="schedule-panel">Schedule Panel</a>
        </div>
        <div>
            <a routerLink="lesson-request">Lesson requests</a>
        </div>

    </div>
</section>