<div class="student__profile_info">
    <h4>First name</h4>
    <h4>{{student?.firstName}}</h4>
    <h4>Last name</h4>
    <h4>{{student?.lastName}}</h4>
    <h4>Gender</h4>
    <h4>{{student?.gender}}</h4>
    <h4>University email</h4>
    <h4>{{student?.email}}</h4>
    <h4>Private email</h4>
    <h4>{{student?.privateEmail}}</h4>
    <h4>Birthday</h4>
    <h4>{{student?.studentDetails?.birthDay | date: 'dd-MM-yyyy'}}</h4>
    <h4>Citizen</h4>
    <h4>{{student?.studentDetails?.citizen}}</h4>
    <h4>Passport</h4>
    <h4>{{student?.studentDetails?.passport}}</h4>
    <h4>Student status</h4>
    <h4>{{student?.studentStatus}}</h4>
    <h4>specializations</h4>
    <div class="specializations">
        <ul>
            <li *ngFor="let specialization of student?.specializations">{{specialization.name}}</li>
        </ul>    
    </div>
</div>
<form action="">
    <h3>Reset password</h3>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter your old password</mat-label>
            <input name="oldPassword" [(ngModel)]="resetPassword.oldPassword" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    </div>
      <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter your new password</mat-label>
            <input [(ngModel)]="resetPassword.newPassword" name="newPassword" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
            <mat-label>Confirm your new password</mat-label>
            <input name="newPasswordConfirm" #confirmPassword matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
      </div>

      <input type="submit" (click)="passwordReset(confirmPassword.value)">
</form>