<section>
    <form action="" [formGroup]="semesterForm">
        
        <div>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="name" formControlName="name" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Specialization</mat-label>
            <mat-select formControlName="specialization">
              <mat-option *ngFor="let specialization of specializations" [value]="specialization">{{specialization.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
        <div>

            <mat-form-field appearance="fill">
                <mat-label>Semester number</mat-label>
                <mat-select formControlName="semesterNumber">
                    <mat-option value="1">Semester - 1</mat-option>
                    <mat-option value="2">Semester - 2</mat-option>
                    <mat-option value="3">Semester - 3</mat-option>
                    <mat-option value="4">Semester - 4</mat-option>
                    <mat-option value="5">Semester - 5</mat-option>
                    <mat-option value="6">Semester - 6</mat-option> 
                    <mat-option value="7">Semester - 7</mat-option>
                    <mat-option value="8">Semester - 8</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Semester range</mat-label>
                <mat-date-range-input [formGroup]="semesterRange" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                <mat-error *ngIf="semesterRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="semesterRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
        </div>
        
        <button mat-button (click)="createSemester()">Create</button>

    </form>
</section>