<mat-accordion>

    <ng-container *ngFor="let specialization of specializations">
        <h1>Specialization: {{specialization.name}}</h1>


        <ng-container *ngFor="let semester of specialization.semesters">
            <mat-expansion-panel hideToggle (opened)="showStudents(specialization.id, semester.id)">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Semester: {{semester.semesterNumber}}
                </mat-panel-title>
                <mat-panel-description>
                    Show Subjects for {{semester.semesterNumber}} semester
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <div *ngFor="let studentGrade of studentGrades">
                        <h3>{{studentGrade.student.firstName}} {{studentGrade.student.lastName}}</h3>
                        
                        <h3>{{studentGrade.subject.name}}</h3>
                        <h3>{{studentGrade.subject.type}}</h3>
                        
                        <form action="">
                            <input type="text" [value]="studentGrade.grade == 0 ? '' : studentGrade.grade" [disabled]="studentGrade.grade >= 2" #grade>
                    
                            <button type="submit" *ngIf="studentGrade.grade < 2" (click)="setGrade(grade.value,studentGrade)" >Set grade</button>
                        </form>

                    </div>
                </div>
            </mat-expansion-panel>
        </ng-container>

    </ng-container>
  </mat-accordion>