.group__information{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: TitleFont;

    thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
    }
    th, td{
        border-bottom: 1px solid #c5c4c4;
        padding: 20px 15px;
        text-align: left;
        font-size: 16px;
    }
    .table__number{
        text-align: center;
    }
}

