<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="filter($event, source)" placeholder="Adam Kowalski" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="source" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="add" *ngIf="isShowAddButton">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Add </th>
        <td mat-cell *matCellDef="let row"> 
            <mat-checkbox (change)="addStudentToArray(row)" class="example-margin"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete" *ngIf="isShowDeleteButton">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td mat-cell *matCellDef="let row">
            <button class="icon__small" (click)="deleteStudentFromGroup(row)"><img src="../../assets/images/icons/delete.svg" alt=""></button> 
        </td>
      </ng-container>

            
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>