<section>
  <div class="container">
    <div>
      <h4>Group</h4>
      <mat-form-field appearance="fill">
        <mat-label>Group</mat-label>
        <mat-select (selectionChange)="selectGroup($event.value)">
          <mat-option *ngFor="let group of groups" [value]="group">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="currentGroup != null">
      <app-group-semesters [group]="currentGroup" (semesterSelected)="getSemesterSelected($event)"></app-group-semesters>
      <app-schedule-table 
                (showDaysForWeek)="getDaysForWeek()" 
                (showAllDays)="getScheduleForGroup()"
                (showDaysByRange)="filterByRange($event)" 
                [schedule]="schedule" 
                [group]="currentGroup" 
                [isAdmin]="true"
                [selectedSemester]="selectedSemester">
      </app-schedule-table>
    </div>

  </div>

</section>
