<section>
    <form action="" [formGroup]="firstFormGroup">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="name" formControlName="name" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Teachers</mat-label>
          <mat-select [formControl]="teacherFormControl" multiple>
            <mat-select-trigger>
              {{teacherFormControl.value ? teacherFormControl.value[0].firstName + ' ' + teacherFormControl.value[0].lastName : ''}}
              <span *ngIf="teacherFormControl.value?.length > 1" class="example-additional-selection">
                (+{{teacherFormControl.value.length - 1}} {{teacherFormControl.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let teacher of teachers" [value]="teacher">
                <span>{{teacher?.firstName}} {{teacher?.lastName}}</span>
            </mat-option>
          </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Subject type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="LECTURE">Lecture</mat-option>
              <mat-option value="EXERCISE">Exercise</mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" (click)="createSubject()">Create</button>
    </form>
</section>