
@import '~@angular/material/theming';

@font-face{
  font-family: TitleFont;
  src: url('assets/fonts/TitleFont.otf');
}
@font-face {
  font-family: NavFont;
  src: url('assets/fonts/nav-font.ttf');
}

$smallIcon: 15px;
$mediumIcon: 25px;
$titleFont: TitleFont;
$badGrade: #f70808;
$errorMsg: #f70808;
@mixin icon($size) {
  width: $size;
  height: $size;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  img{
    width: 100%;
    height: 100%;
    transition: .5s ease;

  }
}
@mixin notification($bg, $color) {
  background-color: $bg;
  font-weight: 900;
  font-family: $titleFont;
  color: $color;
}

@include mat-core();
$virtual-university-client-primary: mat-palette($mat-indigo);
$virtual-university-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$virtual-university-client-warn: mat-palette($mat-red);

$virtual-university-client-theme: mat-light-theme((
  color: (
    primary: $virtual-university-client-primary,
    accent: $virtual-university-client-accent,
    warn: $virtual-university-client-warn,
  )
));

@include angular-material-theme($virtual-university-client-theme);

*{
  margin: 0;
  padding: 0;
}
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa; 
}
a{
  text-decoration: none;
}
.container{
  max-width: 1800px;
  margin: 0 auto;
}

.icon__small{
    @include icon($smallIcon);
    margin-left: 12px;
}
.icon__medium{
  @include icon($mediumIcon);

}

.table__legend{
    padding: 2em;
    border: 3px solid #bbbbbb36;
    border-radius: 10px;
    position: relative;
    min-height: 330px;
    .table__title{
      position: absolute;
      top: -18px;
      font-family: $titleFont;
      font-size: 21px;
      background: #fafafa;
      color: #4f9a7a;
    }
}

.best-grade{
  color: rgb(0 128 0 / 100%);
}
.good-grade{
  color: rgb(0 128 0 / 69%);
}
.bad-grade{
  color: $badGrade;
}
.grade{
  font-weight: 900;
}
.error-msg{
  color: $errorMsg;
}
.timepicker-overlay{
  z-index: 1000 !important;
}

.create-day-modal{
  width: 100vw !important;
  height: 90vh !important;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.loading {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-notification{
  @include notification(#dc675f, #fff);
}
.success-notification{
  @include notification(#46a35e, #fff);
}
.unauthorized-notification{
  @include notification(#f9ab00ad, #000);
}
.nav__content{
  display: flex;
  height: 100%;
  .content{
      width: 100%;
      background: #fafafa;
      padding: 1em;
  }
}