
@import '~@angular/material/theming';

@include mat-core();
$virtual-university-client-primary: mat-palette($mat-indigo);
$virtual-university-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$virtual-university-client-warn: mat-palette($mat-red);

$virtual-university-client-theme: mat-light-theme((
  color: (
    primary: $virtual-university-client-primary,
    accent: $virtual-university-client-accent,
    warn: $virtual-university-client-warn,
  )
));

@include angular-material-theme($virtual-university-client-theme);

*{
  margin: 0;
  padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
  text-decoration: none;
}
.container{
  max-width: 1800px;
  margin: 0 auto;
}