<form [formGroup]="editFormGroup" #form="ngForm" (submit)="form.valid && edit()" class="edit__form">
  <div class="field__with_label">
    <h4 class="field__title">Date start</h4>
    <div class="time__picker">
      <ngx-timepicker-field formControlName="dateStart" [defaultTime]="editFormGroup.get('dateStart')?.value"
                            [format]="24" (timeChanged)="changeTime($event, true)"></ngx-timepicker-field>
    </div>
    <div *ngIf="editFormGroup.get('dateStart').invalid">
      <span class="error-msg">Date end is incorrect</span>
    </div>
  </div>
  <div class="field__with_label">
    <h4 class="field__title">Date end</h4>
    <div class="time__picker">
      <ngx-timepicker-field formControlName="dateEnd" [defaultTime]="editFormGroup.get('dateEnd')?.value"
                            (timeChanged)="changeTime($event, false)" [format]="24"></ngx-timepicker-field>
    </div>
    <div *ngIf="editFormGroup.get('dateEnd').invalid">
      <span class="error-msg">Date end is incorrect</span>
    </div>
  </div>
  <div class="field__with_label">
    <h4 class="field__title">Room number</h4>
    <input class="text__field" type="text" id="roomNumber" formControlName="roomNumber" name="roomNumber">
    <div *ngIf="editFormGroup.get('roomNumber').invalid && editFormGroup.get('roomNumber').touched">
      <span class="error-msg">Room number is required</span>
    </div>
  </div>
  <mat-form-field appearance="fill" class="field__with_label">
    <mat-label>Subject</mat-label>
    <mat-select class="field__select" formControlName="subject">
      <mat-option *ngFor="let subject of subjectTeacher" [value]="subject">{{subject.subject.name}} |
        {{subject.teacher.firstName}} {{subject.teacher.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit">Send</button>
</form>
