<div>
    <div class="schedule__filters">
        <div>
          <label for="allDays">All days</label>
          <input type="radio" id="allDays" name="option" (change)="getAllDays()" checked>
        </div>
        <div>
          <label for="range">Range</label>
          <input type="radio" id="range" name="option" (change)="setFilterOption()">
        </div>
        <div *ngIf="rangeFilter">
            <form action="" [formGroup]="rangeGroup" (ngSubmit)="filterByRange()">
              <div>
                <label for="from">From</label>
                <input type="date" formControlName="dayAfter" required>
              </div>
              <div>
                <label for="to">To</label>
                <input type="date" formControlName="dayBefore" required>
              </div>
              <button type="submit">Search</button>

            </form>
        </div>
        
    </div>

    <div  *ngIf="days != null && days.length != 0">
      <table class="table__header_days">
        <thead>
          <tr>
            <th>Time from</th>
            <th>Time to</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>Type</th>
            <th>Group</th>
            <th *ngIf="isAdmin">Edit</th>
          </tr>
        </thead>
      </table>
      <table class="table_day" *ngFor="let day of days">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th *ngIf="isAdmin"></th>
          </tr>
        </thead>
        <div class="day__header_button">
          <h3 class="day_header">{{day.day}}</h3>
          <div class="day__control_buttons">
            <button title="Add new Lesson to {{day.day}}" *ngIf="isAdmin" class="icon__medium"  (click)="setCurrentDay(day)"><img src="../../assets/images/icons/add.svg" alt=""></button> 
            <button title="Delete day {{day.day}}" *ngIf="isAdmin" class="icon__medium"  (click)="deleteDayFromSchedule(day)"><img src="../../assets/images/icons/delete.svg" alt=""></button> 
          
          </div>
        </div>
        <tbody>
          <ng-container class="lesson" *ngFor="let lesson of day.lessons">
            <tr>
              <th [ngStyle]="{'width': isAdmin ? '225px' : '266px'}">{{lesson.dateStart | date: "HH:mm"}}</th>
              <th [ngStyle]="{'width': isAdmin ? '225px' : '266px'}">{{lesson.dateEnd | date: "HH:mm"}}</th>
              <th [ngStyle]="{'width': isAdmin ? '225px' : '266px'}">{{lesson.subjectTeacher.teacher.firstName}} {{lesson.subjectTeacher.teacher.lastName}}</th>
              <th [ngStyle]="{'width': isAdmin ? '225px' : '266px'}">{{lesson.subjectTeacher.subject.name}}</th>
              <th [ngStyle]="{'width': isAdmin ? '225px' : '266px'}">{{lesson.subjectTeacher.subject.type}}</th>
              <th [ngStyle]="{'width': isAdmin ? '225px' : '266px'}">{{lesson.groupName}}</th>
              <th [ngStyle]="{'width': isAdmin ? '225px' : '266px'}" *ngIf="isAdmin">
                <div>
                  <button title="Remove {{lesson.subjectTeacher.subject.name}}" class="icon__small" (click)="deleteLessonFromDay(lesson, day)"><img src="../../assets/images/icons/delete.svg" alt=""></button> 
                  <button title="Edit {{lesson.subjectTeacher.subject.name}}" class="icon__small" (click)="editLessonInDay(lesson)"><img src="../../assets/images/icons/edit.svg" alt=""></button> 
                </div>
  
              </th>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

  </div>



