<div class="schedule">
  <div class=schedule__table_header>
    <div class="schedule__filters">
        <div class="inputGroup">
          <input class="input__radio" type="radio" id="allDays" name="option" (change)="getAllDays('exportPdf-f')" >
          <label class="label__radio" for="allDays">All days</label>
        </div>
        <div class="inputGroup">
          <input class="input__radio" type="radio" id="thisWeek" name="option" (change)="getDaysForWeek('exportPdf-w')" checked>
          <label class="label__radio" for="thisWeek">For this week</label>
        </div>
        <div class="inputGroup">
          <input class="input__radio" type="radio" id="range" name="option" (change)="setFilterOption()">
          <label class="label__radio" for="range">Range</label>
        </div>
    </div>
    <button *ngIf="days != null && days.length != 0" class="icon__medium export__pdf" title="Export to PDF" (click)="exportPdf()"><img src="../../assets/images/icons/pdf.svg" alt=""></button>
  </div>
  <div class="inputGroup" *ngIf="rangeFilter">
    <form action="" [formGroup]="rangeGroup" (ngSubmit)="filterByRange()">
      <div>
        <label for="from">From</label>
        <input type="date" formControlName="dayAfter" required>
      </div>
      <div>
        <label for="to">To</label>
        <input type="date" formControlName="dayBefore" required>
      </div>
      <button type="submit">Search</button>
    </form>
</div>
    <div *ngIf="days != null && days.length != 0;else scheduleNotFound">
      <table [class.table__min_width]="isAdmin || isEditable" class="table__header_days">
        <thead>
          <tr>
            <th>Time from</th>
            <th>Time to</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>Type</th>
            <th>Group</th>
            <th>Room</th>
            <th *ngIf="isAdmin || isEditable">Edit</th>
          </tr>
        </thead>
      </table>
      <table class="table_day" *ngFor="let day of days">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th *ngIf="isAdmin || isEditable"></th>
          </tr>
        </thead>
        <div class="day__header_button">
          <h3 class="day_header">{{day.day | date: 'dd-MM-yyyy'}}</h3>
          <div class="day__control_buttons">
            <button title="Add new Lesson to {{day.day}}" *ngIf="isAdmin" class="icon__medium"  (click)="setCurrentDay(day)"><img src="../../assets/images/icons/add.svg" alt=""></button>
            <button title="Delete day {{day.day}}" *ngIf="isAdmin" class="icon__medium"  (click)="deleteDayFromSchedule(day)"><img src="../../assets/images/icons/delete.svg" alt=""></button>

          </div>
        </div>
        <tbody *ngIf="day.lessons.length != 0 || isAdmin">
          <ng-container *ngFor="let lesson of day.lessons">
            <app-lesson-table-card [lesson]="lesson"
                                   [isAdmin]="isAdmin"
                                   [isEditable]="isEditable"
                                   [teacherId]="teacherId"
                                   [day]="day"
                                   (deleteLesson)="deleteLessonFromDay($event)"
                                   (editLesson)="editLessonInDay($event)"
                                   (changeStatusOfLesson)="changeStatus($event)"
            ></app-lesson-table-card>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="set__grade_btn">
      <button mat-stroked-button color="primary" *ngIf="scheduleId != null && isAdmin" (click)="addNewScheduleDay()">Add day</button>
    </div>
    <ng-template #scheduleNotFound>
      <div class="schedule__not_found">
        <h2>Schedule not found</h2>
      </div>
    </ng-template>
  </div>



